# Open Data Day
## Visualización de datos abiertos con Python >> Pandas >> Dash

### >> ¿Open Data what?

<img src="http://www.agaargentina.org/wp-content/uploads/2016/10/datos-abiertos-1.png">

* Principio del gobierno digital y abierto
* Datos disponibles para todos los ciudadanos y ciudadanas
* Datos oficiales, confiables y verificables de instituciones públicas

### >> La información no está estructurada tal como la quisieramos tener.

* No todos los datos están estructurados.
* Abiertos no siempre se entienden como analizables.
* En ocasiones, datos abiertos se entiendes como informes abiertos.

## Escoger una fuente de datos

<img src="imgs/tipos_de_archivo.jpg">

"Icons made by Freepik, Smashicons, and Smartline from [www.flaticon.com]"

In [12]:
import pandas as pd

remoto = 'https://datos.cdmx.gob.mx/dataset/3abd0da2-38e4-4c73-b386-3e0ef7b48d55/resource/634a7992-5aa3-4e6c-a081-191ef4dbb463/download/diagnostico-cdmx_2015_educacion.csv'
local = 'csv_data/diagnostico_educacion_2015.csv'

print(remoto)
print(local)

https://datos.cdmx.gob.mx/dataset/3abd0da2-38e4-4c73-b386-3e0ef7b48d55/resource/634a7992-5aa3-4e6c-a081-191ef4dbb463/download/diagnostico-cdmx_2015_educacion.csv
csv_data/diagnostico_educacion_2015.csv

### ¿Qué hicimos en este paso?

Simplemente *declaramos* unas *variables* (`remoto` y `local`) a las cuales les asignamos un valor: la ruta donde se encuentra el archivo csv con los datos.

En este caso no hemos traído el objeto (el archivo `csv`), solamente escribimos la dirección de su ubicación.

# ¿Cómo importar datos para ser procesados?

## La forma relativamente fácil

Con las librerías nativas de python `csv` y `urllib.request`

In [13]:
import urllib.request as ur
import csv

r = ur.urlopen(remoto)
lineas = [l.decode('utf-8') for l in r.readlines()]

archivo_csv = csv.reader(lineas)

for r in archivo_csv:
    print(r)

281000.0', '210261426172000.0', 'Educacion', 'Tláhuac']
['852', '2015.0', '11.0', 'Pobreza moderada', 'Hombre', '30-44', '11575.0', '949873755397000.0', '136512624460000.0', 'Educacion', 'Tláhuac']
['853', '2015.0', '11.0', 'Pobreza moderada', 'Mujer', '60 y mas', '5768.0', '432037037664000.0', '721562962336000.0', 'Educacion', 'Tláhuac']
['854', '2015.0', '11.0', 'Satisfaccion mínima', 'Hombre', '60 y mas', '4685.0', '353869987071000.0', '583130012929000.0', 'Educacion', 'Tláhuac']
['855', '2015.0', '11.0', 'Estrato medio', 'Hombre', '0-11', '10347.0', '891676735956000.0', '117772326404000.0', 'Educacion', 'Tláhuac']
['856', '2015.0', '11.0', 'Estrato medio', 'Hombre', '30-44', '13642.0', '115931803554000.0', '156908196446000.0', 'Educacion', 'Tláhuac']
['857', '2015.0', '11.0', 'Estrato medio', 'Mujer', '30-44', '14934.0', '13024009063700.0', '16843990936300.0', 'Educacion', 'Tláhuac']
['858', '2015.0', '11.0', 'Estrato alto', 'Hombre', '12-29', '274.0', '100181686033000.0', '447818313967000.0', 'Educacion', 'Tláhuac']
['859', '2015.0', '11.0', 'Estrato alto', 'Hombre', '60 y mas', '345.0', '92901578401100.0', '597098421599000.0', 'Educacion', 'Tláhuac']
['860', '2015.0', '12.0', 'Pobreza muy alta', 'Hombre', '0-11', '3458.0', '263114759886000.0', '428485240114000.0', 'Educacion', 'Tlalpan']
['861', '2015.0', '12.0', 'Pobreza muy alta', 'Hombre', '60 y mas', '3912.0', '322270068605000.0', '460129931395000.0', 'Educacion', 'Tlalpan']
['862', '2015.0', '12.0', 'Pobreza muy alta', 'Mujer', '0-11', '3156.0', '24471989805700.0', '38648010194300.0', 'Educacion', 'Tlalpan']
['863', '2015.0', '12.0', 'Pobreza muy alta', 'Mujer', 'No especificado', '199.0', '423250183272000.0', '355674981673000.0', 'Educacion', 'Tlalpan']
['864', '2015.0', '12.0', 'Pobreza alta', 'Hombre', '45-59', '1269.0', '900531161705000.0', '163746883829000.0', 'Educacion', 'Tlalpan']
['865', '2015.0', '12.0', 'Pobreza alta', 'Mujer', '60 y mas', '2209.0', '179244654900000.0', '262555345100000.0', 'Educacion', 'Tlalpan']
['866', '2015.0', '12.0', 'Pobreza moderada', 'Hombre', '30-44', '18525.0', '154898417169000.0', '215601582831000.0', 'Educacion', 'Tlalpan']
['867', '2015.0', '12.0', 'Satisfaccion mínima', 'Hombre', '0-11', '24902.0', '21536189640800.0', '28267810359200.0', 'Educacion', 'Tlalpan']
['868', '2015.0', '12.0', 'Satisfaccion mínima', 'Hombre', '12-29', '34218.0', '297993039222000.0', '386366960778000.0', 'Educacion', 'Tlalpan']
['869', '2015.0', '12.0', 'Satisfaccion mínima', 'Hombre', '60 y mas', '6014.0', '500068795641000.0', '702731204359000.0', 'Educacion', 'Tlalpan']
['870', '2015.0', '12.0', 'Satisfaccion mínima', 'Mujer', '30-44', '18597.0', '16044093649200.0', '21149906350800.0', 'Educacion', 'Tlalpan']
['871', '2015.0', '12.0', 'Satisfaccion mínima', 'Mujer', '45-59', '13087.0', '110247681887000.0', '151492318113000.0', 'Educacion', 'Tlalpan']
['872', '2015.0', '12.0', 'Satisfaccion mínima', 'Mujer', '60 y mas', '8980.0', '748121965260000.0', '104787803474000.0', 'Educacion', 'Tlalpan']
['873', '2015.0', '12.0', 'Estrato medio', 'Hombre', '12-29', '29497.0', '252608279471000.0', '337331720529000.0', 'Educacion', 'Tlalpan']
['874', '2015.0', '12.0', 'Estrato alto', 'Hombre', '45-59', '4928.0', '372539547945000.0', '613060452055000.0', 'Educacion', 'Tlalpan']
['875', '2015.0', '12.0', 'Estrato alto', 'Mujer', '0-11', '7673.0', '671493048369000.0', '863106951631000.0', 'Educacion', 'Tlalpan']
['876', '2015.0', '12.0', 'Estrato alto', 'Mujer', '45-59', '3968.0', '29899604456200.0', '49460395543800.0', 'Educacion', 'Tlalpan']
['877', '2015.0', '12.0', 'Estrato alto', 'Mujer', '60 y mas', '3136.0', '22706412904500.0', '40013587095500.0', 'Educacion', 'Tlalpan']
['878', '2015.0', '13.0', 'Pobreza muy alta', 'Hombre', '60 y mas', '2850.0', '179842323002000.0', '390157676998000.0', 'Educacion', 'Xochimilco']
['879', '2015.0', '13.0', 'Pobreza muy alta', 'Mujer', '0-11', '2107.0', '147645819537000.0', '273754180463000.0', 'Educacion', 'Xochimilco']
['880', '2015.0', '13.0', 'Pobreza muy alta', 'Mujer', '45-59', '3549.0', '193026455130000.0', '516773544870000.0', 'Educacion', 'Xochimilco']
['881', '2015.0', '13.0', 'Pobreza muy alta', 'Mujer', 'No especificado', '122.0', '123529337555000.0', '231647066244000.0', 'Educacion', 'Xochimilco']
['882', '2015.0', '13.0', 'Pobreza alta', 'Hombre', '0-11', '372.0', '763382308416000.0', '736366176916000.0', 'Educacion', 'Xochimilco']
['883', '2015.0', '13.0', 'Pobreza alta', 'Mujer', '45-59', '1623.0', '419803632066000.0', '28261963679300.0', 'Educacion', 'Xochimilco']
['884', '2015.0', '13.0', 'Pobreza moderada', 'Hombre', '30-44', '12256.0', '854867786290000.0', '159633221371000.0', 'Educacion', 'Xochimilco']
['885', '2015.0', '13.0', 'Pobreza moderada', 'Mujer', '12-29', '15731.0', '11008858955500.0', '20453141044500.0', 'Educacion', 'Xochimilco']
['886', '2015.0', '13.0', 'Satisfaccion mínima', 'Hombre', '0-11', '16433.0', '122246491458000.0', '206413508542000.0', 'Educacion', 'Xochimilco']
['887', '2015.0', '13.0', 'Satisfaccion mínima', 'Hombre', '12-29', '22491.0', '168016365254000.0', '281803634746000.0', 'Educacion', 'Xochimilco']
['888', '2015.0', '13.0', 'Satisfaccion mínima', 'Hombre', '45-59', '8022.0', '570638859004000.0', '103376114100000.0', 'Educacion', 'Xochimilco']
['889', '2015.0', '13.0', 'Satisfaccion mínima', 'Mujer', '0-11', '16195.0', '120173724867000.0', '203726275133000.0', 'Educacion', 'Xochimilco']
['890', '2015.0', '13.0', 'Satisfaccion mínima', 'Mujer', '12-29', '22808.0', '1708459957350.0', '2853140042650.0', 'Educacion', 'Xochimilco']
['891', '2015.0', '13.0', 'Satisfaccion mínima', 'Mujer', '45-59', '8381.0', '620237697219000.0', '105596230278000.0', 'Educacion', 'Xochimilco']
['892', '2015.0', '13.0', 'Estrato medio', 'Hombre', '0-11', '13511.0', '102852279710000.0', '167367720290000.0', 'Educacion', 'Xochimilco']
['893', '2015.0', '13.0', 'Estrato medio', 'Hombre', '45-59', '13783.0', '106408674913000.0', '169251325087000.0', 'Educacion', 'Xochimilco']
['894', '2015.0', '13.0', 'Estrato medio', 'Mujer', '12-29', '18769.0', '140886014395000.0', '234493985605000.0', 'Educacion', 'Xochimilco']
['895', '2015.0', '13.0', 'Estrato medio', 'Mujer', '45-59', '15659.0', '119380841283000.0', '193799158717000.0', 'Educacion', 'Xochimilco']
['896', '2015.0', '13.0', 'Estrato medio', 'Mujer', '60 y mas', '7493.0', '55802119540600.0', '94057880459400.0', 'Educacion', 'Xochimilco']
['897', '2015.0', '13.0', 'Estrato alto', 'Hombre', '12-29', '312.0', '164128693339000.0', '607587130666000.0', 'Educacion', 'Xochimilco']
['898', '2015.0', '13.0', 'Estrato alto', 'Hombre', '30-44', '781.0', '419768231019000.0', '114223176898000.0', 'Educacion', 'Xochimilco']
['899', '2015.0', '13.0', 'Estrato alto', 'Hombre', '60 y mas', '1518.0', '891513881078000.0', '214448611892000.0', 'Educacion', 'Xochimilco']
['900', '2015.0', '13.0', 'Estrato alto', 'Mujer', '12-29', '362.0', '160019856715000.0', '563980143285000.0', 'Educacion', 'Xochimilco']
['901', '2015.0', '14.0', 'Pobreza muy alta', 'Hombre', '0-11', '938.0', '485374347281000.0', '139062565272000.0', 'Educacion', 'Benito Juárez']
['902', '2015.0', '14.0', 'Pobreza muy alta', 'Hombre', '45-59', '297.0', '32758039556500.0', '590724196044000.0', 'Educacion', 'Benito Juárez']
['903', '2015.0', '14.0', 'Pobreza muy alta', 'Hombre', '60 y mas', '358.0', '17250091539800.0', '54349908460200.0', 'Educacion', 'Benito Juárez']
['904', '2015.0', '14.0', 'Pobreza muy alta', 'Hombre', 'No especificado', '108.0', '-232476429872000.0', '239247642987000.0', 'Educacion', 'Benito Juárez']
['905', '2015.0', '14.0', 'Pobreza muy alta', 'Mujer', '0-11', '650.0', '235625800729000.0', '106437419927000.0', 'Educacion', 'Benito Juárez']
['906', '2015.0', '14.0', 'Pobreza muy alta', 'Mujer', '30-44', '546.0', '778621804824000.0', '101413781952000.0', 'Educacion', 'Benito Juárez']
['907', '2015.0', '14.0', 'Pobreza muy alta', 'Mujer', '45-59', '665.0', '308479100932000.0', '102152089907000.0', 'Educacion', 'Benito Juárez']
['908', '2015.0', '14.0', 'Pobreza alta', 'Hombre', '0-11', '70.0', '-126024690093000.0', '152602469009000.0', 'Educacion', 'Benito Juárez']
['909', '2015.0', '14.0', 'Pobreza alta', 'Hombre', '30-44', '678.0', '187686489341000.0', '116831351066000.0', 'Educacion', 'Benito Juárez']
['910', '2015.0', '14.0', 'Pobreza alta', 'Hombre', '45-59', '180.0', '234148912924000.0', '33658510870800.0', 'Educacion', 'Benito Juárez']
['911', '2015.0', '14.0', 'Pobreza alta', 'Hombre', '60 y mas', '207.0', '-951836044224000.0', '509183604422000.0', 'Educacion', 'Benito Juárez']
['912', '2015.0', '14.0', 'Pobreza alta', 'Mujer', '45-59', '321.0', '-203724189478000.0', '845724189478000.0', 'Educacion', 'Benito Juárez']
['913', '2015.0', '14.0', 'Pobreza moderada', 'Hombre', '0-11', '266.0', '609323889428000.0', '525906761106000.0', 'Educacion', 'Benito Juárez']
['914', '2015.0', '14.0', 'Pobreza moderada', 'Hombre', '30-44', '2608.0', '145060747166000.0', '376539252834000.0', 'Educacion', 'Benito Juárez']
['915', '2015.0', '14.0', 'Pobreza moderada', 'Hombre', '45-59', '1165.0', '737823285269000.0', '159217671473000.0', 'Educacion', 'Benito Juárez']
['916', '2015.0', '14.0', 'Pobreza moderada', 'Hombre', '60 y mas', '1704.0', '962298810482000.0', '24457011895200.0', 'Educacion', 'Benito Juárez']
['917', '2015.0', '14.0', 'Satisfaccion mínima', 'Hombre', '0-11', '10860.0', '855435922190000.0', '131656407781000.0', 'Educacion', 'Benito Juárez']
['918', '2015.0', '14.0', 'Satisfaccion mínima', 'Hombre', '12-29', '14995.0', '11452973923300.0', '18537026076700.0', 'Educacion', 'Benito Juárez']
['919', '2015.0', '14.0', 'Satisfaccion mínima', 'Hombre', '30-44', '5364.0', '373130862881000.0', '699669137119000.0', 'Educacion', 'Benito Juárez']
['920', '2015.0', '14.0', 'Satisfaccion mínima', 'Hombre', '45-59', '3150.0', '171505807509000.0', '458494192491000.0', 'Educacion', 'Benito Juárez']
['921', '2015.0', '14.0', 'Satisfaccion mínima', 'Mujer', '0-11', '9648.0', '769341434938000.0', '116025856506000.0', 'Educacion', 'Benito Juárez']
['922', '2015.0', '14.0', 'Estrato medio', 'Mujer', '0-11', '6825.0', '522665403146000.0', '842334596854000.0', 'Educacion', 'Benito Juárez']
['923', '2015.0', '14.0', 'Estrato medio', 'Mujer', '30-44', '45242.0', '389159832938000.0', '515680167062000.0', 'Educacion', 'Benito Juárez']
['924', '2015.0', '14.0', 'Estrato medio', 'Mujer', '45-59', '30269.0', '257360804513000.0', '348019195487000.0', 'Educacion', 'Benito Juárez']
['925', '2015.0', '14.0', 'Estrato alto', 'Hombre', '30-44', '4406.0', '33115648264200.0', '55004351735800.0', 'Educacion', 'Benito Juárez']
['926', '2015.0', '14.0', 'Estrato alto', 'Hombre', '60 y mas', '7749.0', '610194325860000.0', '939605674140000.0', 'Educacion', 'Benito Juárez']
['927', '2015.0', '14.0', 'Estrato alto', 'Mujer', '12-29', '1967.0', '134604168622000.0', '258795831378000.0', 'Educacion', 'Benito Juárez']
['928', '2015.0', '14.0', 'Estrato alto', 'Mujer', '45-59', '5492.0', '38803757815100.0', '710362421849000.0', 'Educacion', 'Benito Juárez']
['929', '2015.0', '15.0', 'Pobreza muy alta', 'Hombre', '30-44', '853.0', '425389441078000.0', '128061055892000.0', 'Educacion', 'Cuauhtémoc']
['930', '2015.0', '15.0', 'Pobreza muy alta', 'Hombre', 'No especificado', '93.0', '-102568333813000.0', '196256833381000.0', 'Educacion', 'Cuauhtémoc']
['931', '2015.0', '15.0', 'Pobreza muy alta', 'Mujer', '12-29', '997.0', '474395900023000.0', '151960409998000.0', 'Educacion', 'Cuauhtémoc']
['932', '2015.0', '15.0', 'Pobreza muy alta', 'Mujer', '30-44', '1088.0', '534406696212000.0', '164159330379000.0', 'Educacion', 'Cuauhtémoc']
['933', '2015.0', '15.0', 'Pobreza alta', 'Hombre', '0-11', '316.0', '609931556827000.0', '625900684432000.0', 'Educacion', 'Cuauhtémoc']
['934', '2015.0', '15.0', 'Pobreza alta', 'Hombre', '45-59', '313.0', '833965046745000.0', '542603495325000.0', 'Educacion', 'Cuauhtémoc']
['935', '2015.0', '15.0', 'Pobreza alta', 'Mujer', '0-11', '385.0', '569660046092000.0', '7130339953910.0', 'Educacion', 'Cuauhtémoc']
['936', '2015.0', '15.0', 'Pobreza alta', 'Mujer', '45-59', '1200.0', '505484235658000.0', '189451576434000.0', 'Educacion', 'Cuauhtémoc']
['937', '2015.0', '15.0', 'Pobreza moderada', 'Hombre', '0-11', '326.0', '690922489579000.0', '582907751042000.0', 'Educacion', 'Cuauhtémoc']
['938', '2015.0', '15.0', 'Pobreza moderada', 'Hombre', '30-44', '10311.0', '814282949112000.0', '124791705089000.0', 'Educacion', 'Cuauhtémoc']
['939', '2015.0', '15.0', 'Pobreza moderada', 'Mujer', '0-11', '99.0', '155002193540000.0', '182499780646000.0', 'Educacion', 'Cuauhtémoc']
['940', '2015.0', '15.0', 'Satisfaccion mínima', 'Hombre', '45-59', '9294.0', '77709196818600.0', '108170803181000.0', 'Educacion', 'Cuauhtémoc']
['941', '2015.0', '15.0', 'Satisfaccion mínima', 'Hombre', '60 y mas', '7011.0', '531648666489000.0', '870551333511000.0', 'Educacion', 'Cuauhtémoc']
['942', '2015.0', '15.0', 'Estrato medio', 'Mujer', '0-11', '11001.0', '908139329185000.0', '129206067082000.0', 'Educacion', 'Cuauhtémoc']
['943', '2015.0', '15.0', 'Estrato medio', 'Mujer', '12-29', '30973.0', '250646814005000.0', '368813185995000.0', 'Educacion', 'Cuauhtémoc']
['944', '2015.0', '15.0', 'Estrato medio', 'Mujer', '45-59', '27630.0', '230363804415000.0', '322236195585000.0', 'Educacion', 'Cuauhtémoc']
['945', '2015.0', '15.0', 'Estrato medio', 'Mujer', '60 y mas', '20677.0', '169985206202000.0', '243554793798000.0', 'Educacion', 'Cuauhtémoc']
['946', '2015.0', '15.0', 'Estrato alto', 'Hombre', '45-59', '4467.0', '318257472531000.0', '575142527469000.0', 'Educacion', 'Cuauhtémoc']
['947', '2015.0', '15.0', 'Estrato alto', 'Hombre', '60 y mas', '4170.0', '298844815990000.0', '535155184010000.0', 'Educacion', 'Cuauhtémoc']
['948', '2015.0', '15.0', 'Estrato alto', 'Mujer', '12-29', '1831.0', '115352613319000.0', '250847386681000.0', 'Educacion', 'Cuauhtémoc']
['949', '2015.0', '15.0', 'Estrato alto', 'Mujer', '45-59', '3201.0', '216046228678000.0', '424153771322000.0', 'Educacion', 'Cuauhtémoc']
['950', '2015.0', '16.0', 'Pobreza muy alta', 'Hombre', '12-29', '322.0', '125472724081000.0', '518527275919000.0', 'Educacion', 'Miguel Hidalgo']
['951', '2015.0', '16.0', 'Pobreza muy alta', 'Mujer', '12-29', '299.0', '419032615697000.0', '556096738430000.0', 'Educacion', 'Miguel Hidalgo']
['952', '2015.0', '16.0', 'Pobreza alta', 'Hombre', '0-11', '75.0', '-290807442221000.0', '179080744222000.0', 'Educacion', 'Miguel Hidalgo']
['953', '2015.0', '16.0', 'Pobreza alta', 'Hombre', '30-44', '733.0', '356087943828000.0', '110991205617000.0', 'Educacion', 'Miguel Hidalgo']
['954', '2015.0', '16.0', 'Pobreza alta', 'Hombre', '45-59', '155.0', '277211130396000.0', '282278886960000.0', 'Educacion', 'Miguel Hidalgo']
['955', '2015.0', '16.0', 'Pobreza alta', 'Hombre', '60 y mas', '622.0', '237394215794000.0', '100660578421000.0', 'Educacion', 'Miguel Hidalgo']
['956', '2015.0', '16.0', 'Pobreza moderada', 'Mujer', '0-11', '79.0', '-765461962057000.0', '158765461962000.0', 'Educacion', 'Miguel Hidalgo']
['957', '2015.0', '16.0', 'Pobreza moderada', 'Mujer', '30-44', '3974.0', '257038231074000.0', '537761768926000.0', 'Educacion', 'Miguel Hidalgo']
['958', '2015.0', '16.0', 'Pobreza moderada', 'Mujer', '60 y mas', '5161.0', '348593904832000.0', '683606095168000.0', 'Educacion', 'Miguel Hidalgo']
['959', '2015.0', '16.0', 'Satisfaccion mínima', 'Hombre', '12-29', '14491.0', '100513440394000.0', '189306559606000.0', 'Educacion', 'Miguel Hidalgo']
['960', '2015.0', '16.0', 'Satisfaccion mínima', 'Hombre', '30-44', '6774.0', '45761622475100.0', '89718377524900.0', 'Educacion', 'Miguel Hidalgo']
['961', '2015.0', '16.0', 'Satisfaccion mínima', 'Hombre', '45-59', '4626.0', '288510083725000.0', '636689916275000.0', 'Educacion', 'Miguel Hidalgo']
['962', '2015.0', '16.0', 'Satisfaccion mínima', 'Hombre', '60 y mas', '3452.0', '225002759461000.0', '465397240539000.0', 'Educacion', 'Miguel Hidalgo']
['963', '2015.0', '16.0', 'Satisfaccion mínima', 'Mujer', '0-11', '9889.0', '643412703983000.0', '133438729602000.0', 'Educacion', 'Miguel Hidalgo']
['964', '2015.0', '16.0', 'Satisfaccion mínima', 'Mujer', '12-29', '14098.0', '100270861159000.0', '181689138841000.0', 'Educacion', 'Miguel Hidalgo']
['965', '2015.0', '16.0', 'Satisfaccion mínima', 'Mujer', '60 y mas', '6765.0', '49097991803200.0', '86202008196800.0', 'Educacion', 'Miguel Hidalgo']
['966', '2015.0', '16.0', 'Estrato medio', 'Hombre', '12-29', '19567.0', '129300991680000.0', '262039008320000.0', 'Educacion', 'Miguel Hidalgo']
['967', '2015.0', '16.0', 'Estrato medio', 'Hombre', '30-44', '28697.0', '188821714572000.0', '385118285428000.0', 'Educacion', 'Miguel Hidalgo']
['968', '2015.0', '16.0', 'Estrato medio', 'Hombre', '45-59', '18661.0', '141496477516000.0', '231723522484000.0', 'Educacion', 'Miguel Hidalgo']
['969', '2015.0', '16.0', 'Estrato medio', 'Mujer', '60 y mas', '16722.0', '127059693916000.0', '207380306084000.0', 'Educacion', 'Miguel Hidalgo']
['970', '2015.0', '16.0', 'Estrato alto', 'Hombre', '60 y mas', '5476.0', '358885128946000.0', '736314871054000.0', 'Educacion', 'Miguel Hidalgo']
['971', '2015.0', '16.0', 'Estrato alto', 'Mujer', '0-11', '3778.0', '224651635238000.0', '530948364762000.0', 'Educacion', 'Miguel Hidalgo']
['972', '2015.0', '16.0', 'Estrato alto', 'Mujer', '45-59', '3302.0', '178314715165000.0', '482085284835000.0', 'Educacion', 'Miguel Hidalgo']
['973', '2015.0', '17.0', 'Pobreza muy alta', 'Hombre', '0-11', '2103.0', '141695388317000.0', '278904611683000.0', 'Educacion', 'Venustiano Carranza']
['974', '2015.0', '17.0', 'Pobreza muy alta', 'Hombre', '60 y mas', '1143.0', '585423794213000.0', '170057620579000.0', 'Educacion', 'Venustiano Carranza']
['975', '2015.0', '17.0', 'Pobreza alta', 'Hombre', '0-11', '190.0', '-706969228163000.0', '450696922816000.0', 'Educacion', 'Venustiano Carranza']
['976', '2015.0', '17.0', 'Pobreza alta', 'Hombre', '30-44', '1388.0', '759420464592000.0', '201657953541000.0', 'Educacion', 'Venustiano Carranza']
['977', '2015.0', '17.0', 'Pobreza alta', 'Mujer', '12-29', '1364.0', '850310255682000.0', '187768974432000.0', 'Educacion', 'Venustiano Carranza']
['978', '2015.0', '17.0', 'Pobreza alta', 'Mujer', '30-44', '1821.0', '11946380294000.0', '24473619706000.0', 'Educacion', 'Venustiano Carranza']
['979', '2015.0', '17.0', 'Pobreza moderada', 'Hombre', '60 y mas', '5194.0', '399135163344000.0', '639664836656000.0', 'Educacion', 'Venustiano Carranza']
['980', '2015.0', '17.0', 'Pobreza moderada', 'Mujer', '12-29', '12531.0', '950817895390000.0', '155538210461000.0', 'Educacion', 'Venustiano Carranza']
['981', '2015.0', '17.0', 'Pobreza moderada', 'Mujer', '60 y mas', '8781.0', '661840626530000.0', '10943593734700.0', 'Educacion', 'Venustiano Carranza']
['982', '2015.0', '17.0', 'Satisfaccion mínima', 'Hombre', '0-11', '13178.0', '105900554846000.0', '157659445154000.0', 'Educacion', 'Venustiano Carranza']
['983', '2015.0', '17.0', 'Satisfaccion mínima', 'Hombre', '60 y mas', '6798.0', '533275701726000.0', '826324298274000.0', 'Educacion', 'Venustiano Carranza']
['984', '2015.0', '17.0', 'Estrato medio', 'Mujer', '30-44', '24033.0', '195632628993000.0', '285027371007000.0', 'Educacion', 'Venustiano Carranza']
['985', '2015.0', '17.0', 'Estrato alto', 'Hombre', '0-11', '4670.0', '348765719026.0', '585234280974.0', 'Educacion', 'Venustiano Carranza']
['986', '2015.0', '17.0', 'Estrato alto', 'Hombre', '12-29', '550.0', '226210134080000.0', '873789865920000.0', 'Educacion', 'Venustiano Carranza']
['987', '2015.0', '17.0', 'Estrato alto', 'Mujer', '0-11', '4710.0', '355287124041000.0', '586712875959000.0', 'Educacion', 'Venustiano Carranza']
['988', '2015.0', '17.0', 'Estrato alto', 'Mujer', '12-29', '466.0', '164997679382000.0', '767002320618000.0', 'Educacion', 'Venustiano Carranza']
['989', '2015.0', '17.0', 'Estrato alto', 'Mujer', '45-59', '1142.0', '609967456811000.0', '167403254319000.0', 'Educacion', 'Venustiano Carranza']

## La manera extremadamente fácil

Con `pandas`

In [14]:
import pandas as pd

df = pd.read_csv(remoto)
print(df.head())

   id    anio  mun          estratos    sexo      edad   total     total_low  \
0   0  2015.0  2.0  Pobreza muy alta  Hombre     12-29   471.0  1.428821e+14
1   1  2015.0  2.0  Pobreza muy alta  Hombre     30-44   704.0  2.738738e+14
2   2  2015.0  2.0  Pobreza muy alta  Hombre  60 y mas  2575.0  1.617936e+14
3   3  2015.0  2.0  Pobreza muy alta   Mujer     30-44   898.0  4.676627e+14
4   4  2015.0  2.0  Pobreza muy alta   Mujer     45-59  1239.0  6.608173e+14

      total_upp        dim        nomgeo
0  7.991179e+14  Educacion  Azcapotzalco
1  1.134126e+14  Educacion  Azcapotzalco
2  3.532064e+14  Educacion  Azcapotzalco
3  1.328337e+14  Educacion  Azcapotzalco
4  1.817183e+14  Educacion  Azcapotzalco

In [15]:
df_local = pd.read_csv(local)
print(df_local.head())

   _id  id  anio  mun          estratos    sexo      edad  total  \
0    1   0  2015    2  Pobreza muy alta  Hombre     12-29    471
1    2   1  2015    2  Pobreza muy alta  Hombre     30-44    704
2    3   2  2015    2  Pobreza muy alta  Hombre  60 y mas   2575
3    4   3  2015    2  Pobreza muy alta   Mujer     30-44    898
4    5   4  2015    2  Pobreza muy alta   Mujer     45-59   1239

         total_low        total_upp        dim        nomgeo
0  142882133722000  799117866278000  Educacion  Azcapotzalco
1  273873773687000  113412622631000  Educacion  Azcapotzalco
2  161793608889000  353206391111000  Educacion  Azcapotzalco
3  467662689091000  132833731091000  Educacion  Azcapotzalco
4  660817323638000  181718267636000  Educacion  Azcapotzalco

## Ahora, conozcamos un poco sobre cómo están estructurados nuestros datos

### DataFrame

Al recuperar los datos, `pandas` transforma la información en un tipo de objeto llamado `DataFrame`, que es básicamente una matriz de datos en el que cada fila corresponde a un objeto y cada columna a una variable.

Los DataFrames pueden ser modificados de manera dinámica, pero se deben seguir ciertas reglas para evitar que la información se elimine o cambie de forma indeseada.

Podemos comprobar que nuestro archivo `csv` ahora es un DataFrame si imprimimos el tipo de la variable `df`:

In [16]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>



### Tamaño

* ¿Cuántas filas y columnas tiene esta tabla?
- Para eso, utilizaremos la función `shape` de pandas.

In [17]:
tamagno = df.shape
num_filas = tamagno[0]
num_columns = tamagno[1]

print(tamagno)
print("Esta tabla tiene {} filas y {} columnas".format(num_filas, num_columns))

(990, 11)
Esta tabla tiene 990 filas y 11 columnas

^ la función `shape` regresa un tipo de archivo llamado *tuple* o *tupla*, que consiste en una lista ordenada de objetos. Podemos comprobarlo simplemente imprimiendo el tipo de dato:

In [18]:
print(type(tamagno))

<class 'tuple'>

### ¿Cuáles columnas tenemos en nuestro DataFrame?

Como habrás visto, cuando imprimimos los datos del DataFrame, no nos presenta toda la información, por eso aparecen tres puntos suspensivos entre las columnas.

Para saber el nombre de cada columna (y poder hacer búsquedas posteriormente) podemos utilizar la función `columns` de pandas:

In [19]:
print(df.columns)

Index(['id', 'anio', 'mun', 'estratos', 'sexo', 'edad', 'total', 'total_low',
       'total_upp', 'dim', 'nomgeo'],
      dtype='object')

### ¿Qué datos tenemos en el DataFrame?

Ahora sabemos el tamaño del DataFrame y el nombre de sus columnas. Pero, para hacer operaciones (como sumar, restar, hallar medias, etc.) tendremos que identificar cuáles son los tipos de datos que tenemos en nuestro DataFrame.

Para ello, usaremos la función `dtypes` de pandas:

In [20]:
print(df.dtypes)

id             int64
anio         float64
mun          float64
estratos      object
sexo          object
edad          object
total        float64
total_low    float64
total_upp    float64
dim           object
nomgeo        object
dtype: object

^ Analiza los tipos de datos que tenemos en el DataFrame:

* int64 = números enteros
* float64 = números decimales
* object = objeto de pandas (puede ser un diccionario, un numpy.array, una lista...)

# Manipular la información del DataFrame

## ¿Qué información hay en una columna específica?

Para ver qué información tiene una columna específica vamos a utilizar el siguiente método:

In [23]:
col_nombre = df['sexo']

print(col_nombre[:10])

0    Hombre
1    Hombre
2    Hombre
3     Mujer
4     Mujer
5    Hombre
6    Hombre
7    Hombre
8     Mujer
9    Hombre
Name: sexo, dtype: object

In [24]:
print(df.loc[df['sexo'] == "Mujer"])

      id    anio   mun             estratos   sexo      edad    total  \
3      3  2015.0   2.0     Pobreza muy alta  Mujer     30-44    898.0
4      4  2015.0   2.0     Pobreza muy alta  Mujer     45-59   1239.0
8      8  2015.0   2.0         Pobreza alta  Mujer  60 y mas   1593.0
10    10  2015.0   2.0  Satisfaccion mínima  Mujer      0-11  11630.0
11    11  2015.0   2.0        Estrato medio  Mujer     12-29  21780.0
..   ...     ...   ...                  ...    ...       ...      ...
981  981  2015.0  17.0     Pobreza moderada  Mujer  60 y mas   8781.0
984  984  2015.0  17.0        Estrato medio  Mujer     30-44  24033.0
987  987  2015.0  17.0         Estrato alto  Mujer      0-11   4710.0
988  988  2015.0  17.0         Estrato alto  Mujer     12-29    466.0
989  989  2015.0  17.0         Estrato alto  Mujer     45-59   1142.0

        total_low     total_upp        dim               nomgeo
3    4.676627e+14  1.328337e+14  Educacion         Azcapotzalco
4    6.608173e+14  1.817183e+14  Educacion         Azcapotzalco
8    9.673120e+14  2.218688e+14  Educacion         Azcapotzalco
10   9.252596e+14  1.400740e+14  Educacion         Azcapotzalco
11   1.831693e+14  2.524307e+14  Educacion         Azcapotzalco
..            ...           ...        ...                  ...
981  6.618406e+14  1.094359e+13  Educacion  Venustiano Carranza
984  1.956326e+14  2.850274e+14  Educacion  Venustiano Carranza
987  3.552871e+14  5.867129e+14  Educacion  Venustiano Carranza
988  1.649977e+14  7.670023e+14  Educacion  Venustiano Carranza
989  6.099675e+14  1.674033e+14  Educacion  Venustiano Carranza

[495 rows x 11 columns]

¿Y si queremos ver por sexo y localidad?

Utilizamos el mismo método (`loc`) pero ahora buscamos dos valores. Si lo verbalizamos es como pedirle a la máquina:

Búscame en el DataFrame todos los valores en los que el sexo sea 'Mujer' y el nombre de la localidad (`nomgeo`) sea igual a 'Azcapotzalco'. En código será lo siguiente:

In [28]:
sex_loc = df.loc[(df['sexo'] == 'Mujer') & (df['nomgeo'] == 'Azcapotzalco')]
print(sex_loc[:10])

      id    anio  mun             estratos   sexo      edad    total  \
3      3  2015.0  2.0     Pobreza muy alta  Mujer     30-44    898.0
4      4  2015.0  2.0     Pobreza muy alta  Mujer     45-59   1239.0
8      8  2015.0  2.0         Pobreza alta  Mujer  60 y mas   1593.0
10    10  2015.0  2.0  Satisfaccion mínima  Mujer      0-11  11630.0
11    11  2015.0  2.0        Estrato medio  Mujer     12-29  21780.0
323  323  2015.0  2.0     Pobreza muy alta  Mujer      0-11   1500.0
324  324  2015.0  2.0     Pobreza muy alta  Mujer  60 y mas   6130.0
326  326  2015.0  2.0         Pobreza alta  Mujer     12-29    800.0
327  327  2015.0  2.0         Pobreza alta  Mujer     30-44   1196.0
328  328  2015.0  2.0         Pobreza alta  Mujer     45-59    749.0

        total_low     total_upp        dim        nomgeo
3    4.676627e+14  1.328337e+14  Educacion  Azcapotzalco
4    6.608173e+14  1.817183e+14  Educacion  Azcapotzalco
8    9.673120e+14  2.218688e+14  Educacion  Azcapotzalco
10   9.252596e+14  1.400740e+14  Educacion  Azcapotzalco
11   1.831693e+14  2.524307e+14  Educacion  Azcapotzalco
323  8.697557e+14  2.130244e+13  Educacion  Azcapotzalco
324  4.238256e+14  8.021744e+14  Educacion  Azcapotzalco
326  3.518572e+14  1.248143e+14  Educacion  Azcapotzalco
327  7.473386e+14  1.644661e+14  Educacion  Azcapotzalco
328  4.033656e+14  1.094634e+14  Educacion  Azcapotzalco

# Referencias

## Documentación

* [The Programming Historian: Python](https://programminghistorian.org/es/lecciones/?topic=python)
* [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [plotly open source graphing libraries](https://plotly.com/python/)
* [dash open-source](https://dash.plotly.com/)


## Bibliografía

* McKinney, Wes. *Python for data analysis: data wrangling with pandas, NumPy, and IPython*. Second edition, O’Reilly Media, Inc, 2018.
* Pajankar, Ashwin. *Practical Python Data Visualization: A Fast Track Approach to Learning Data Visualization with Python*. 2021.
* Stepanek, y Suresh John. *Thinking in Pandas*. Apress, 2020. Open WorldCat, https://link.springer.com/10.1007/978-1-4842-5839-2.